<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Cita</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Editar Cita</h2>

    <form th:action="@{/citas/editar/{id}(id=${cita.id})}" method="POST">
        <div class="mb-3">
            <label for="nombrePaciente" class="form-label">Nombre del Paciente</label>
            <input type="text" class="form-control" id="nombrePaciente" name="nombrePaciente" th:value="${cita.nombrePaciente}" required>
        </div>

        <div class="mb-3">
            <label for="doctor" class="form-label">Selecciona el Doctor</label>
            <select class="form-select" id="doctor" name="doctorId" required> <!-- Cambié el nombre a doctorId -->
                <option th:each="doctor : ${doctores}" th:value="${doctor.id}" th:text="${doctor.nombre}"
                        th:selected="${doctor.id == cita.doctor.id}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="consultorio" class="form-label">Selecciona el Consultorio</label>
            <select class="form-select" id="consultorio" name="consultorioId" required> <!-- Cambié el nombre a consultorioId -->
                <option th:each="consultorio : ${consultorios}" th:value="${consultorio.id}" th:text="${consultorio.numero}"
                        th:selected="${consultorio.id == cita.consultorio.id}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="horario" class="form-label">Selecciona el Horario</label>
            <input type="datetime-local" class="form-control" id="horario" name="horario" th:value="${formattedDate}" required>
        </div>

        <button type="submit" class="btn btn-primary">Actualizar Cita</button>
    </form>


</div>

</body>
</html>
